@mixin field-cell-base {
    color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: rgb(135, 206, 235);
    cursor: pointer;
    display: inline-block;
    line-height: 200%;
    border: 1px solid wheat;
}

.field-cell_small {
    @include field-cell-base();
    width: 18px;
    height: 18px;
    line-height: 115%;
}

.field-cell_medium {
    @include field-cell-base();
}

.field-cell_active {
    &:hover {
        background-color: rgba(135, 206, 235, 0.7);
    }

    &:active {
        background-color: rgba(135, 206, 235, 1);
    }
}

.field-cell_disabled {
    background-color: rgba(87, 137, 156, 0.5);
    cursor: default;
}


.field-cell_zero {
    background-color: rgb(52, 87, 100);
    cursor: default;
}